a.btocultoadm {
    position: fixed;
    bottom: 0px;
    opacity: 0;
    left: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 1000;
    font-size: 20px;
}

a.btocultoadm:hover {
    opacity: 1;
    transition: 0.5s;
}